
.lista-container{
    width: 100%;
    max-width: 1120px;
    height: 110vh;
    margin: 0 auto;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.lista-container .content {
    width: 100%;
    height: 95%;
    padding: 96px;
    background: #FFF;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}






.lista-container .content section {
    width: 100%;
    max-width: 400px;
    align-items: center;
    margin-bottom: 50px;
}



.lista-container .content section h1{
    margin: 12px 0 30px;
    font-size: 32px;
}

 .lista-container .mapa {
     width: 400px;
     height:300px;
    align-items: center;
    padding-top: 50%;


}

.lista-container ul {
    width: 100%;
    max-width: 500px;
    grid-gap: 20px;
    list-style: none;
    margin-top: 18px;

   
}

.lista-container ul li {
    background: #f3f3f3;
    padding: 18px;
    border-radius: 8px;
    border: solid;
    border-color: #dcdce6;
    font-size: 16px;
    margin-top:5px;
    
}
.lista-container ul p {
    margin-top: 5px;
}

.botao{
    width: 120px;
    height: 40px;
    background: #0e3746;
    border:0;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-top: 8px;
    margin-left: 50px;
    font-size: 16px;
    line-height: 30px;
    transition: filter;
}

.botao:hover {
    filter: brightness(90%);
}

